/* Created by Kali Vogel 
	This file will be replaced as I start learning LESS. 
	This is only a temporary stylesheet to help me get my outline ideas out on-screen.
*/

body, html {
	background: linear-gradient(#001020, #001020, #005570);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100vw 100vh;
	font-family: Helvetica, Arial, sans-serif;
	font-color: white;
	text-decoration: none;
}

header {
	display: inline-block;
	position: static;
	width: 80%;
	height: 150px;
	background-color: #20202080;
	margin: 8% auto 10% 0%;
	font-family: inherit;
	font-color: white;
	color: white;	 
	padding: 10px 0px;
	text-decoration: none;
}

#siteName {
	font-family: 'Audiowide', cursive, sans-serif;
	font-size: 50px;
}

.top-nav a, .top-nav button {
	display: inline-block;
	background-color: 00000000;
	position: static;
	margin: auto 10px;
	font-family: Audiowide, sans-serif;
	font-size: 35px;
	font-weight: 350;
	font-color: white;
	color: white;
	text-decoration: none;
	letter-spacing: 4px;
}


.dropdownContent {
	display: none;
}

.main {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-gap: 25px;
	
}

.aspect {
	display: block;
	border: 1px solid #000;
	padding: 0;
	margin: 0;
}

.aspect img {
	padding: 0;
	margin: 0;
	position: absolute;
	vertical-align: top;
}

.aspect h1 {
	font-family: Audiowide, cursive, sans-serif;
	font-size: 25px;
}

.aspect p {
	
}










